h3,
h4,
h5,
h6,
p {
  margin-bottom: 5px;
}

hr {
  margin: 10px 0;
}

h3 {
  text-align: center;
}

button {
  margin: 0 10px;
}

.des {

  h4,
  p {
    margin: 8px 0;
  }


}

code {
  display: block;
  margin: 8px 0;
}
.grid-content{
  border-radius: 4px;
  min-height: 36px;
}
.bg-purple-dark{
   background: #99a9bf;
}

.bg-purple{
  background: #d3dce6;
}

.bg-purple-light{
  background: #e5e9f2;
}